.scroll-to-top {
  position: fixed;
  bottom: 0;
  height: auto;
  padding: 10px 20px 10px 10px;
  width: 100%;

  .top-arrow {
    float: right;
    background-color: #28a745;
    padding: 3px;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}