.app.ui-dark {
  .search {
    .clear-button {
      color: lightblue;
    }
    input {
      background-color: $dark-secondary-bg;
      color: $dark-font-primary;
    }
  }
}

.search {
  .clear-button {
    cursor: pointer;
  }
  input {
    border-radius: 0.25rem !important;
  }
}