.story {
  a {
    text-decoration: none;
    color: black;

    :hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .title {
    border-right: 0.5px solid grey;
    text-align: left;
    padding: 3%;
  }

  .information {
    width: 25%;
    display: inline-block;
    color: grey;
    height: 100%;
    padding: 10px;

    p {
      font-size: 1rem;
    }
  }

  .list-group-item {
    margin-bottom: 5px !important;
  }
}